apiVersion: v1
kind: Service
metadata:
  name: payment-api
  namespace: domain-api-payment
spec:
  selector:
    app: payment-api
  ports:
    - name: http
      port: 80
      targetPort: 80
  type: ClusterIP
