apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - gateway/namespace.yaml
  - gateway/deployment.yaml
  - gateway/service.yaml
  - taxpayer-api/namespace.yaml
  - taxpayer-api/deployment.yaml
  - taxpayer-api/service.yaml
  - income-tax-api/namespace.yaml
  - income-tax-api/deployment.yaml
  - income-tax-api/service.yaml
  - payment-api/namespace.yaml
  - payment-api/deployment.yaml
  - payment-api/service.yaml
  - docs/deployment.yaml
  - docs/service.yaml
  - ingress/gateway-ingress.yaml
  - ingress/docs-ingress.yaml

configMapGenerator:
  - name: taxpayer-api-spec
    namespace: domain-api-taxpayer
    files:
      - specs/taxpayer-api.yaml
  - name: income-tax-api-spec
    namespace: domain-api-income-tax
    files:
      - specs/income-tax-api.yaml
  - name: payment-api-spec
    namespace: domain-api-payment
    files:
      - specs/payment-api.yaml

images:
  - name: ghcr.io/craigedmunds/domain-api-gateway
    newTag: latest
  - name: ghcr.io/craigedmunds/domain-api-docs
    newTag: latest
